{% extends 'main.html' %}

{% block maincontent %}

        <div class="container-fluid">

          <div class="row">
          </div>

          <!-- Content Row -->

          <div class="row">

            <!--  -->
            
            <div class="col-xl-12 col-lg-12">
              <div class="card border-top-info shadow mb-4">
                  <div class="card-body p-5 ">
                  <div class="col-md-6">
                    <h3 class="h3 mb-0 text-gray-800">Apply for hostel</h3>
                    <hr/>
                  </div> 
                  <form id="hostelForm">
            <div class="row">
              <div class="col-md-6 my-3">
                <label>Hostel</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                  </div>
                  <select class="form-control" id="hostel"  name="hostel">
                    <option>-- select hostel --</option>
                  </select>
                </div>
              </div>
              {% csrf_token %}
              <div class="col-md-6 my-3">
                <label>Room <i class="fa text-success fa-spinner fa-spin" id="loadingRoom"></i></label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                  </div>
                  <select class="form-control text-capitalize" id="rooms" name="rooms">
                    <option>-- select room --</option>

                  </select>
                </div>
              </div>

              <div class="col-md-12 d-none" id="showRooms">
                <div class="card shadow p-5 my-3">
                  <div class="col-md-3">
                    <h6 class="mb-0 text-gray-800 text-capitalize " id="roomId"></h6>
                    <hr/>
                  </div> 
                  <div class="">
                    <div class="row">
                      <div class="border p-2 row">
                        <div class="col-md-5 row">
                          <div class="col-md-6">
                            <label for="A1" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4">
                              A1
                              <input type="radio" name="bunk_id" id="A1" class="d-none" autocomplete="off">
                            </label>

                            <label for="A2" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4">
                              A2
                              <input type="radio" name="bunk_id" id="A2" class="d-none" autocomplete="off">
                            </label>
                          </div>

                          <div class="col-md-6">
                            <label for="B1" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4">
                              B1
                              <input type="radio" name="bunk_id" id="B1" class="d-none" autocomplete="off">
                            </label>

                            <label for="B2" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4">
                              B2
                              <input type="radio" name="bunk_id" id="B2" class="d-none" autocomplete="off">
                            </label>
                          </div> 

                        </div>

                        <div class="col-md-2 py-5" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd";>
                          <div style="transform: rotate(-90deg)">
                            <h3> Pathway </h3>
                          </div>
                        </div>

                        <div class="col-md-5 row">
                          <div class="col-md-6">
                            <label for="C1" class="col-md-12  btn-success text-center border border-right-info px-4 py-4" id="a1">
                              C1
                              <input type="radio" name="bunk_id" id="C1" class="d-none" autocomplete="off" disabled>
                            </label>

                            <label for="C2" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4" id="a1">
                              C2
                              <input type="radio" name="bunk_id" id="C2" class="d-none" autocomplete="off">
                            </label>
                          </div>
                          <div class="col-md-6">
                            <label for="D1" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4" id="a1">
                              D1
                              <input type="radio" name="bunk_id" id="D1" class="d-none" autocomplete="off">
                            </label>

                            <label for="D2" class="col-md-12 btn btn-success text-center border border-right-info px-4 py-4" id="a1">
                              D2
                              <input type="radio" name="bunk_id" id="D2" class="d-none" autocomplete="off">
                            </label>
                          </div>
                        </div>

                      </div>

                      </div>

                  </div>
                </div>
              </div>
            </form>

                   <div class="col-md-6">
                        <button class="btn btn-primary px-5" type="button" id="submit">Submit &nbsp;<i class="fa fa-cog fa-spin" id="loading"></i></button>
                    </div>
                      
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-success btn-md px-3 d-none " id="successModal" data-toggle="modal" data-target="#contactModal"></button>

          <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body px-5 py-5 text-center">
                  <h3 class="text-success"><i class="far fa-check-circle"></i> Your Application Has been sent successful, you can continue to Print Your Hostel Form</h3>
                  <br>
                  <a class="btn btn-primary px-5" href="/hostel-application">Continue <i class="fa fa-home"></i></a>
                </div>
              </div>
            </div>
          </div>
<script>
   var config = {
    "hostel" : [
        {
            "id" : "mph",
            "name": "Male Presidential Hostel"
        },
        {
            "id": "fph",
            "name": "Female Presidential Hostel"

        }
    ]

};
</script>
<script>

$(document).ready(function() {
  $('#loading').hide();
  $('label').on('click', function() {
    $('label').removeClass('active');
    $(this).addClass('active');
  })
  $('#loadingRoom').hide();

      for (let i = 0; i < config.hostel.length; i++) { 
          $('#hostel').append($('<option>', {
              value: config.hostel[i]['id'],
              text: config.hostel[i]['name'],
            }));
     }

     $('#hostel').on('change',function() {
      $('#loadingRoom').show();
      var res = $('#hostel').val();
      $.ajax({
            url:'/getRoom',
            type: "POST",
            error: function(){
               alert('An error occured, please try again');
               $('.fa-spin').hide();
            },
            data: $('#hostelForm').serialize(),
            success:function(data) {
               $('.fa-spin').hide();
              //  alert(data.rooms[0].room);
                for (let i = 0; i < data.rooms.length; i++) { 
                  $('#rooms').append($('<option>', {
                        value: data.rooms[i].room_id,
                        text: data.rooms[i].room,
                      }));
              }
            }
         });

     });

     $('#rooms').on('change',function() {
      $('#loadingRoom').show();
      var roomId = this.value;
      $("label").removeClass('btn-danger');

      $.ajax({
            url:'/getBunk',
            type: "POST",
            error: function(){
               alert('An error occured, please try again');
               $('.fa-spin').hide();
            },
            data: $('#hostelForm').serialize(),
            success:function(data) {
               $('.fa-spin').hide();
              //  alert(data.bunk[0].bunk_id);
                for (let i = 0; i < data.bunk.length; i++) { 
                  $('#'+data.bunk[i].bunk_id).val(data.bunk[i].bunk_id);
                  if(data.bunk[i].status == 1) {
                    $('#'+data.bunk[i].bunk_id).attr('disabled','disabled');
                    $("label[for='"+data.bunk[i].bunk_id+"']").addClass('btn-danger');
                  }

              }
              $('#roomId').text(data.bunk[0].room);
              $('#showRooms').removeClass('d-none');
            }
         })
     });

     $('#submit').on('click',function() {
      $('#loading').show();
      var res = $('#hostel').val();

      if($('input[name=bunk_id]').is(':checked')) {
         $.ajax({
            url:'/saveApplication',
            type: "POST",
            error: function(){
               alert('An error occured, please try again');
               $('#loading').hide();
            },
            data: $('#hostelForm').serialize(),
            success:function(data) {
               $('#loading').hide();
               $('#successModal').trigger('click');
            }
         });
    } 
      else {
        alert('You must select a bunk');
        $('#loading').hide();

      }
});
});

</script>

{% endblock %} 