{% extends 'main.html' %}

{% block maincontent %}
<div class="container-fluid">

  <!-- Content Row -->

  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card border-top-info shadow mb-4">
          <div class="card-body p-5 ">
          <div class="col-md-6">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <hr/>
          </div> 

    <div class="row">
            <div class="col-md-6">
              <!-- <input dtype="text" class="form-control bg-white" readonly > -->
              <label>Student's Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{ session.name }}" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>

            <div class="col-md-6">                 
              <label>Registration Number</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{ session.reg_number }}" aria-label="Username" aria-describedby="basic-addon1">
              </div></div>

            <div class="col-md-6 my-3">
              <label>Department</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="{{ session.department }}" aria-label="Username" aria-describedby="basic-addon1">
              </div>
            </div>

            <div class="col-md-6 my-3">
                <label>Faculty</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{ session.faculty }}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>

              <div class="col-md-6">
                <label>Semester</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{ session.semester }}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>

              <div class="col-md-6">
                  <label>Session</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-th-large"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="2020/2021" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 
{% load static %}
